.CambioDeEstado {
    width: 320px;
    height: 100px;
    border: 4px ridge rgb(53, 54, 54);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: aqua;
    display: grid;
    align-self: center;
    place-content: center;
    z-index: 10;
    border-radius: 1em;    
}

.botonesCambioDeEstado {
    display: flex;
    align-items: center;
    gap: .6em;
}

.botonesCambioDeEstado button {
    background-color: white;
    border-radius: 10px;
    width: 65px;
    height: 70px;
    border: 4px outset rgb(53, 54, 54);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;


}

.botonesCambioDeEstado button:hover {
    background-color: rgb(150, 242, 242);
    color: white;
}
.botonesCambioDeEstado button:active {
    color: aqua;
    transform: scale(90%)
}

.botonesCambioDeEstado button img {
    width: 120%;
    height: 120%
}
