modal .confirmaEliminacion {
    position: absolute;
    width: 25em;
    height: 8em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: rgb(8, 84, 198);
    border: 3px ridge #06a673;
    z-index: 30;
}
.confirmaEliminacion h2 {
    text-align: center;
    font-size: 1.5em
}