.cuadro {
    width: 100vw;
    min-height: 88vh;
    position: absolute;
}

.cabezaCuadro {
    height: 9vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid black;
    font-family: 'Kalam', cursive;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}
.iconos{
    margin-left: .6em;
    width: 1.4em;
    height: 1.4em;
}

.columnaTitulo {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.columnaTituloCentro {
    border-left: 1px solid black;
    border-right: 1px solid black;    
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: .2em

}

.cuerpoCuadro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
}

.columnaCuadroCentro {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

@media (max-width: 320px) {
    .cabezaCuadro {
        height: 6vh;
        font-size: .6em;
    }

    .iconos{
        margin-left: .1em;
    }
    .cuerpoCuadro {
        min-height: 84vh;  
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .cuadro {
        min-height: 90vh;
    }
    
    .cabezaCuadro {
        height: 5vh;
        font-size: 0.8em;
    }
    .cuerpoCuadro {
        min-height: 85vh;
    }
}

@media screen and (min-width: 376px) and (max-width: 500px) {
    .cuadro {
        min-height: 91vh;
    }
    
    .cabezaCuadro {
        height: 5vh;
        font-size: 0.8em;
    }
    .cuerpoCuadro {
        min-height: 86vh;
    }
}
@media screen and (min-width: 501px) and (max-width: 650px) {
    .cuadro {
        min-height: 89vh;
    }
    .cabezaCuadro {
        height: 6vh;
        font-size: 0.8em;
    }
    .cuerpoCuadro {
        min-height: 83vh;
    }
}
@media screen and (min-width: 651px) and (max-width: 750px) {
    .cabezaCuadro {
        height: 10vh;
        font-size: 1em;
    }
    .cuerpoCuadro {
        min-height: 78vh;
    }
}
@media screen and (min-width: 751px) and (max-width: 950px) {
    .cabezaCuadro {
        height: 50px;
        font-size: 1.5em;
        display: grid;
    }
    .cuerpoCuadro {
        min-height: 93.5vh;
    }
}
@media screen and (min-width: 951px) and (max-width: 1050px) {
    .cabezaCuadro {
        height: 50px;
        font-size: 1.5em;
        display: grid;
    }
    .cuerpoCuadro {
        min-height: 95vh;
    }
}
@media screen and (min-width: 1051px) and (max-width: 1250px) {
    .cabezaCuadro {
        height: 50px;
        font-size: 1.5em;
        display: grid;
    }
    .cuerpoCuadro {
        min-height: 95vh;
    }  
}
@media screen and (min-width: 1251px) and (max-width: 1300px) {
    .cabezaCuadro {
        height: 50px;
        font-size: 1.5em;
        display: grid;
    }
    .cuerpoCuadro {
        min-height: 95vh;
    }
}