/* efecto notas */
.nota {
    width: min(100%, 20em);
    height: 15em;
    border: 3px groove rgba(108, 108, 106, 0.7);
    box-shadow: 10px 10px 10px rgba(69, 68, 66, 0.7);
    background-color: #fcfd9c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 1em;
    padding: 2px;
    position: absolute;
    z-index: 50;
}

.nota:hover{
    border-radius: 0 0 30px 0;
}

.nota > *{
    min-height: 0;
}

.chinche {
    width: 35px; 
    height: auto;
    position: absolute;
    top: -13px; 
    left: 50%; 
    transform: translate(-50%);
    z-index: 11;
}

.nota textarea,
h2 input {
    width: 100%;
    text-align: center;
    background: transparent;
    border: 1px solid rgba(204, 204, 200, 0.7);
    font-family: 'Kalam', cursive;
}
.nota textarea:focus,h2 input:focus{
    outline:none;
}

h2 {
    margin-top:0.2em
}

textarea {
    height: 12em;
    margin-bottom: 0.5em;
    font-size: 1em;
}
input {
    font-weight: 800;
    font-size: .8em;
    position: static !important;
}

.buttons-container {
    margin-bottom: .33em;
    display: flex;
    justify-content: space-evenly;
    margin-right: .1em;
    margin-left: .1em
    
}

.nota button,
img {
    width: 1.85em;
    height: 1.85em;
    background: transparent;
    border: none;
    border-radius: 4px;
}

.nota button img {
    border: 1px solid rgb(88, 85, 85);
}
.nota button {
    align-self: center;
}
.nota button:hover {
    transform: scale(110%);
}
.nota button:active {
    background-color: rgb(228, 228, 228);
}
.color {
    border: 1px solid black;
    width: 2em;
    height: 2.5em;
    border-radius: 4px;
}

.nota:hover .triangle {
    width: 15px;
    height: 15px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fcfd9c;
    box-shadow: -3px -3px 5px rgba(69, 68, 66, 0.9); 
    align-self: flex-end;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: brightness(0.8);
    display: block;
} 

@media (max-width: 390px) {
    .nota:hover .triangle {
        display: none;
    }
}

.labelColorTxt {
    width: 1.4em;
    height: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    color: var(--text);
    background-color: var(--backgroundClaroOscuro);
    border-radius: 4px;
    margin-bottom: .25em;
    text-align: center;
}
.labelColorTxt:hover {
    color: #777;
}
.labelColorTxt:active {
    transform: scale(115%);
}

