.notaReducida {
    width: min(100%, 20em); 
    border: 3px groove rgba(108, 108, 106, 0.7);
    box-shadow: 10px 10px 10px rgba(69, 68, 66, 0.7);
    background-color: #fcfd9c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 1em;
    padding: 2px; 
    position: relative;
}

.nota > *{
    min-height: 0;
}

.chinche {
    width: 35px; 
    height: auto;
    position: absolute;
    top: -13px; 
    left: 45%; 
    z-index: 6;
}

.notaReducida textarea,
h2 input {
    width: 100%;
    text-align: center;
    background: transparent;
    border: 1px solid rgba(204, 204, 200, 0.7);
    font-family: 'Kalam', cursive;
}
textarea {
    height: 15em;
    margin-bottom: 0.5em;
    font-size: 1em;
}
input {
    font-weight: 800;
    font-size: .8em;
}

.buttons-container {
    margin-top: 0.1em;
    display: flex;
    justify-content: space-evenly;
}

.notaReducida button,
img {
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
    border-radius: 4px;
}

.notaReducida button img {
    border: 1px solid black;
}

.notaReducida button {
    align-self: center;
}

.notaReducida button:hover {
    transform: scale(130%);
}
.notaReducida button:active {
    background-color: rgb(205, 200, 200);
}


  