/* efecto notas */
.nota {
    width: min(100%, 18em);
    height: 15em;
    border: 3px groove rgba(108, 108, 106, 0.7);
    box-shadow: 10px 10px 10px rgba(69, 68, 66, 0.7);
    background-color: #fcfd9c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 7em; /*DEBO VOLVERLO A 1em */
    padding: 2px;
    position: relative;

}

.nota > *{
    min-height: 0;
}

.chinche {
    width: 35px; /* Ajusta el ancho de la imagen de la chinche según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
    position: absolute;
    top: -13px; /* Ajusta esta propiedad para controlar la posición vertical */
    left: 45%; /* Ajusta esta propiedad para controlar la posición horizontal */
    z-index: 10; /* Asegura que la imagen esté sobre otros elementos */
}


.nota textarea,
h2 input {
    width: 100%;
    text-align: center;
    background: transparent;
    border: 1px solid rgba(204, 204, 200, 0.7);
    font-family: 'Kalam', cursive;
}
textarea {
    height: 15em;
}
input {
    font-weight: 800;
    font-size: .8em;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.nota button,
img {
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
}

.nota button img {
    border: 1px solid black;
    border-radius: 4px;

}
.nota button {
    align-self: center;
}
.nota button:hover {
    transform: scale(130%);
}
.nota button:active {
    background-color: rgb(205, 200, 200);
}
.color {
    border: 1px solid black;
    width: 2em;
    height: 2.5em;
    border-radius: 4px;
}

.triangle {
    width: 24px;
    height: 24px;
    border-bottom: 24px solid transparent;
    border-left: 24px solid #fcfd9c;
    box-shadow: -3px -3px 5px rgba(69, 68, 66, 0.9); 
    align-self: flex-end;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: brightness(0.8)
} 
