@import url("nota.css");
@import url("cuadro.css");
@import url("prompt.css");
@import url("promptConfirm.css");
@import url("promptBase.css");
@import url("desarrolladores.css");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

:root{
    --letras: black;
    --fondo:  rgb(34, 205, 28);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    filter: var(--filter);
}

header {
    color: var(--text);
    background-color: var(--backgroundHeader);
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--invert);
    display: grid;
    justify-content: space-evenly;
}

.claro-oscuro {
    width: 3em;
    height: 3em;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    left: 1.8em;
    z-index: 21;
    background-color: var(--backgroundClaroOscuro);
    border: 3px ridge rgb(231, 184, 11);
    box-shadow: 6px 6px 6px rgba(38, 46, 39, 0.8);
    border-radius: 15%;
}
.claro-oscuro img {
    width: 90%;
    height: 90%;
    
}
.claro-oscuro:hover {
    background-color: rgb(149, 147, 140);
}

.claro-oscuro:active {
    transform: scale(85%);
    border: 2px ridge white
}

.claro-oscuro img {
    filter: var(--claroOscuroImg);

}

.titulo {
    display: flex;
    align-items: center;
}

header .titulo img {
    width: 8em;
    height: 4em;
    margin-right: 4em;
    margin-left: 4em;
    filter: drop-shadow(8px 8px 4px black);
}

.titulo h1 {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 2.8em;
    text-shadow: 6px 6px 6px rgba(84, 86, 84, 0.8);
}


/*MENU DESPLEGABLE  - Comienza aquí */
.menuDesplegable {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
    cursor: pointer;
    margin-top: 0.2em;
    position: absolute;
    right: 1em;
    min-width: 200px;
    display: grid;
    justify-items: flex-end;
    align-self: self-start;
    transition: all .5s;
}

header .menuDesplegable #checkbox {
    display: none;
}

header .menuDesplegable img {
    width: 3em;
    height: 3em;
    border: 2px solid #000;
    border-radius: 15%;
    background-color: rgb(255, 215, 0);
    box-shadow: 6px 6px 6px rgba(38, 46, 39, 0.8);
    margin-bottom: 0.75em;
    /* margin-top: 0.45em;
    padding: .1em */
}

header .menuDesplegable img:active {
    transform: scale(90%);
    background-color: rgb(9, 138, 88);
}

ul {
    list-style: none;
}

.menuDesplegable li ul li {
    border-bottom: 1px solid black;
    padding: 0.8em;
}

#menu>li {
    float: left;
    text-align: right;
}

#checkbox:not(:checked)~li>.menu-list {
    display: block;
}

#menu li ul li {
    min-width: 200px;
    padding: 10px;
    font-size: 18px;
    border-left: 3px outset #434343;
    border-bottom: 3px solid #434343;
    box-shadow: -6px 6px 6px rgba(38, 46, 39, 0.8);
    margin-bottom: 0.3em;
    text-align: center;
}

/*efecto desplazable*/
.menu-list li {
    transform: translateY(-100%);
    animation-name: slideInFromTop;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-list li:nth-child(2) {
    animation-delay: .2s;
}

.menu-list li:nth-child(3) {
    animation-delay: .3s;
}

.menu-list li:nth-child(4) {
    animation-delay: .5s;
}

.menu-list li:nth-child(5) {
    animation-delay: .7s;
}

.menu-list li:nth-child(6) {
    animation-delay: .9s;
}




/*efecto inverso*/

#checkbox:checked~li>.menu-list li {
    transform: translateY(-100%);
    animation-name: slideInFromButton;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


@keyframes slideInFromButton {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-250%);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: none;
    }
}

/*aca termina el efecto de desplazamiento*/


#menu li ul li:first-child {
    color: #000;
    background-color: #f5abed;
}

#menu li ul li:nth-child(2) {
    color: #000;
    background-color: #ecf863;
}

#menu li ul li:nth-child(3) {
    color: #000;
    background-color: #63f883;
}

#menu li ul li:nth-child(4) {
    color: #000;
    background-color: #bb83fb;
}

#menu li ul li:nth-child(5) {
    color: #000;
    background-color: #49f8ec;
}

#menu li ul li:nth-child(6) {
    color: #000;
    background-color: rgb(255, 215, 0);
}

#menu li ul li:first-child:hover {
    border: 2px solid #000;
}

#menu li ul li:nth-child(2):hover {
    border: 2px solid #000;
}

#menu li ul li:nth-child(3):hover {
    border: 2px solid #000;
}

#menu li ul li:nth-child(4):hover {
    border: 2px solid #000;
}

#menu li ul li:nth-child(5):hover {
    border: 2px solid #000;
}

#menu li ul li:nth-child(6):hover {
    border: 2px solid #000;
}

#menu li ul li:first-child:active {
    color: #f5abed;
    background-color: rgb(42, 40, 42);
    border: 2px solid #000;
}

#menu li ul li:nth-child(2):active {
    color: #ecf863;
    background-color: rgb(42, 40, 42);
    border: 2px solid #000;
}

#menu li ul li:nth-child(3):active {
    color: #63f883;
    background-color: rgb(42, 40, 42);
    border: 2px solid #000;
}

#menu li ul li:nth-child(4):active {
    color: #c49bf2;
    background-color: rgb(42, 40, 42);
    border: 2px solid #000;
}

#menu li ul li:nth-child(5):active {
    color: #49f8ec;
    background-color: rgb(42, 40, 42);
    border: 2px solid #000;
}

#menu li ul li:nth-child(6):active {
    color: rgb(255, 215, 0);
    background-color: rgb(42, 40, 42);
    border: 2px solid #000;
}

/*MENU DESPLEGABLE  - Termina aquí */


main {
    background-color: var(--background);
    width: 100vw;
    min-height: 88vh;
    position: relative;
    overflow: auto;
    color: var(--text)
}


@media (max-width: 320px) {
    header {
        height: 10vh;
    }
    header .claro-oscuro {
        width: 1.8em;
        height: 1.8em;
    }
    header .titulo img {
        width: 4em;
        height: 2.6em;
        margin: 0.15em;
        margin-top: 0.5em;
        display: grid;
        place-self: center;
    }

    .titulo h1 {
        font-size: 1.7em;
        text-align: center;
        margin-top: 0.3em;
    }

    .menuDesplegable {
        right: 1.8em
    }

    header .menuDesplegable img {
        width: 1.8em;
        height: 1.8em;
        margin-top: 1em;
    }

    main {
        min-height: 90vh;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    header {
        height: 10vh;
    }
    header .claro-oscuro {
        width: 2.3em;
        height: 2.3em;
    }
    header .titulo img {
        width: 5em;
        height: 2.8em;
        margin: 0.5em;
        margin-top: 0.5em;
        display: grid;
        place-self: center;
    }

    .titulo h1 {
        font-size: 1.7em;
        text-align: center;
        margin: 0.3em;
        margin-bottom: 0em
    }

    .menuDesplegable {
        right: 1.5em
    }

    header .menuDesplegable img {
        width: 2.3em;
        height: 2.3em;
        margin-top: 0.9em;
    }

    main {
        min-height: 90vh;
    }
}

@media screen and (min-width: 376px) and (max-width: 500px) {
    header {
        height: 9vh;
    }
    header .claro-oscuro {
        width: 2.6em;
        height: 2.6em;
    }
    header .titulo img {
        width: 5.3em;
        height: 3.2em;
        margin: 0.5em;
        margin-top: 0.5em;
        display: grid;
        place-self: center;
    }

    .titulo h1 {
        font-size: 2.2em;
        margin: 0.3em;
        margin-bottom: 0em;
    }

    .menuDesplegable {
        right: 1.5em
    }

    header .menuDesplegable img {
        width: 2.6em;
        height: 2.6em;
        margin-top: 0.8em;
    }

    main {
        min-height: 91vh;
    }
}

@media screen and (min-width: 501px) and (max-width: 650px) {
    header {
        height: 70px;
    }
    header .claro-oscuro{
        width: 2em;
        height: 2em;
    }
    header .titulo img {
        width: 6em;
        height: 2.8em;
        margin: 0em;
        display: grid;
        place-self: center;
    }

    .titulo h1 {
        font-size: 1.9em;
        margin: 0.5em;
        margin-bottom: 0;
        margin-top: 0.25em;
    }

    .menuDesplegable {
        right: 1.5em
    }

    header .menuDesplegable img {
        width: 2em;
        height: 2em;
        margin-top: 12px;
    }

    main {
        min-height: 90vh;
    }
}

@media screen and (min-width: 651px) and (max-width: 750px) {
    header {
        height: 60px;
    }
    header .claro-oscuro{
        width: 1.85em;
        height: 1.85em;
    }
    header .titulo img {
        width: 5.5em;
        height: 2em;
        margin-right: 2em;
        margin-left: 2em;
    }

    .titulo h1 {
        font-size: 1.8em;
        ;
    }

    header .menuDesplegable img {
        width: 1.85em;
        height: 1.85em;
        margin-top: 11px;
    }

    main {
        min-height: 91vh;
    }
}

@media screen and (min-width: 751px) and (max-width: 950px) {
    header {
        height: 80px;
    }
    header .claro-oscuro{
        width: 2.7em;
        height: 2.7em;
    }
    header .titulo {
        margin-top: 0.5em;
    }

    header .titulo img {
        width: 7em;
        height: 3em;
        margin-right: 2em;
        margin-left: 2em;
    }

    .titulo h1 {
        font-size: 2.5em;
        ;
    }

    .menuDesplegable {
        right: 4em;
    }

    header .menuDesplegable img {
        width: 2.7em;
        height: 2.7em;
        margin-top: 0.6em;
    }

    main {
        min-height: 95vh;
    }
}

@media screen and (min-width: 951px) and (max-width: 1050px) {
    header {
        height: 80px;
    }

    header .titulo {
        margin-top: 0.5em;
    }

    header .titulo img {
        width: 7.5em;
        height: 3.5em;
        margin-right: 2em;
        margin-left: 2em;
    }

    .titulo h1 {
        font-size: 2em;
        ;
    }

    .menuDesplegable {
        right: 4em;
    }

    header .menuDesplegable img {
        margin-top: 10px;
    }

    main {
        min-height: 90vh;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1250px) {
    header {
        height: 80px;
    }

    header .titulo {
        margin-top: 0.5em;
    }

    header .titulo img {
        width: 7em;
        height: 3em;
        margin-right: 2em;
        margin-left: 2em;
    }

    .titulo h1 {
        font-size: 2.5em;
        ;
    }

    .menuDesplegable {
        right: 4em;
    }

    header .menuDesplegable img {
        margin-top: 12px;
    }

    main {
        min-height: 90vh;
    }
}

@media screen and (min-width: 1251px) and (max-width: 1370px) {
    header {
        height: 80px;
    }

    header .titulo {
        margin-top: 0.5em;
    }

    .menuDesplegable {
        right: 4em;
    }

    header .menuDesplegable img {
        margin-top: 12px;
    }

    main {
        min-height: 92vh;
    }


}

[data-theme="light"] {
    --filter: grayscale(0%);
    --background: rgb(192, 248, 177);
    --backgroundHeader: rgb(34, 205, 28);
    --text: #000;
    --invert: invert(0%);
    --txtPrompt: #fff;
    --claroOscuroImg: invert(100%);
    --backgroundClaroOscuro: rgb(36, 35, 33);
}

[data-theme="dark"] {
    --filter: grayscale(100%);
    --background: #55585c;
    --backgroundHeader: #3b3737;
    --text: #ccc;
    --invert: invert(100%);
    --txtblack: #000;
    --claroOscuroImg: invert(0%);
    --backgroundClaroOscuro: rgb(235, 233, 231);
}